# {{ansible_managed}}
{% set me = secondaries|selectattr("nodename","equalto",inventory_hostname)|first %}

server:
{% for ip in me.ips %}
	ip-address: {{ip}}
{% endfor %}
        port: 53
{% if me.identity %}
	identity: {{me.identity}}
{% endif %}
        verbosity: 3
        zonesdir: "/usr/local/etc/nsd/zones"
        logfile: "/var/log/nsd.log"

{% if remote %}
remote-control:
        control-enable: yes
{% endif %}

{% for zone in zones %}
zone:
        name: {{zone}}
        zonefile: "/usr/local/etc/nsd/zones/%s.zone"
        zonestats: "%s"
{% for ip in master.ips %}
	request-xfr: {{ip}} NOKEY
     	allow-notify: {{ip}} NOKEY
{% endfor %}
{% endfor %}
