# {{ ansible_managed }}


server:
{% for ip in master.ips %}
	ip-address: {{ip}}
{% endfor %}
	port: 53
{% if master.identity%}
	identity: {{master.identity}}
{% endif %}
	verbosity: 3
	zonesdir: "/usr/local/etc/nsd/zones"
	logfile: "/var/log/nsd.log"

{% if remote -%}
remote-control:
        control-enable: yes
{%- endif %}

{% for zone in zones -%}
zone:
	name: {{zone}}
	zonefile: "/usr/local/etc/nsd/zones/%s.zone"
	zonestats: "%s"
{% if useHE -%} 
	provide-xfr: 2001:740:600::2 NOKEY
	provide-xfr: 216.218.133.2 NOKEY
	notify: 2001:740:600::2 NOKEY
	notify: 216.218.133.2 NOKEY
	{% for ip in master.ips -%}
	outgoing-interface: {{ip}}
{% endfor %}
{% endif %}
{% if secondaries %}
{% for secondary in secondaries %}
{% for ip in secondary.ips %}
	provide-xfr: {{ip}} NOKEY
	notify: {{ip}} NOKEY
{% endfor %}
{% for ip in master.ips %}
	outgoing-interface: {{ip}}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
